
{{#if boolean1}}     
<div class="fulldiv">
         <div class="homeTittle">
                 <div class="homeImage"></div>
                 {{!-- <input type="text" placeholder="Search" class="search"> --}}
                 <LinkTo @route="index" class="image3"></LinkTo>
                 <div class="image4"></div>
                 <div class="image5"></div>
         </div>
        <div class="writebox">
             
               <div class="textTittles">Tittle</div>
               <Textarea class="textArea" @value={{value1}} placeholder="Enter a post Tittle"></Textarea>
                <div class="textTittles">Subject</div>
               <Textarea class="textArea" @value={{value2}} placeholder="Enter a post Subject"></Textarea>
                <div class="textTittles">Story</div>
               <Textarea class="textAreaStory" @value={{value3}} placeholder="Enter a post Story"></Textarea>
               <Input type="file" class="textImage"/>
              
        </div>
         <button class="dbutton" onclick={{action "editpost"}}>Done</button>
       <button class="backbutton5" onclick={{action "back"}}>Back</button>
</div>
{{/if}}

{{#if boolean}}  
  {{home-page}}
{{/if}}