 
 {{#if valuepass4}}
 <div class="fulldiv">
         <div class="homeTittle">
                 <div class="homeImage"></div>
                 <input type="text" placeholder="Search" class="search">
                  <LinkTo @route="index" class="image3"></LinkTo>
                 <div class="image4"></div>
               <div class="image5"></div>
         </div>
   <div class="profileBox">userName :{{CurrentUserName}}</div>
    <img class="profilephoto" src="{{this.photosrc}}">
    <div class="postbox" >
     
{{#if valuepass3}}
      {{#each posts as |post|}}
  <div class="posts">
    <div class="postTitle">
         <div class="profileNamebox">{{post.userName}}</div>
         {{#if (eq CurrentUserName "Admin")}}   
           <div class="deleteIcon" id={{post.postId}}  onclick={{action "deletepost" post }}></div>                           
          {{else}}  
           {{#if (eq post.userName  CurrentUserName)}} 
          
  <div class="deleteIcon" id={{post.postId}}  onclick={{action "deletepost" array }}></div>
            {{/if}} 
         {{/if}}   
 </div>
 <div class="postContent">
<div class="textTittles">Tittle</div>
          <div class="postHeading">{{{post.postTittle}}}</div>
         <div class="postImage"></div>
<div class="textTittles"> Subject</div>
         <div class="postsubject"  >{{{post.postSubject}}}</div>
<div class="textTittles"> Story</div>
          <div  class="poststory" >{{{post.postStory}}} </div>
</div>
  <div class="bottombox">
   {{#if (eq CurrentUserName "Admin")}}  
   <div class="editbutton" id={{post.postId}}   onclick={{action "edit" post }}>Edit</div>
    {{else}}  
      {{#if (eq post.userName CurrentUserName)}} 
      <div class="editbutton" id={{post.postId}}   onclick={{action "edit" post}}>Edit</div>
      {{/if}}
  {{/if}}
     <div class="commentbutton"  id={{post.postId}} onclick={{action "comment" }}>comment</div>
</div>
</div>
   {{/each}}  
{{/if}}           
    </div> 
     {{#if (eq CurrentUserName "Admin")}}      
        <LinkTo @route="userdetail" class="useDetails">User Details</LinkTo>
     {{/if}}
     <LinkTo @route="newpost" class="pbutton"  >write a new post</LinkTo>
 </div>

{{/if}}
{{#if valuepass}}
    {{log "valuepass"}}
   {{edit-page id=id  value1=postvalue1 value2=postvalue2 value3=postvalue3}}
     {{/if}}

 {{#if valuepass2}}
        {{log "valuepass"}}
         {{comment-box parentid=parentid UserName=CurrentUserName}}
     {{/if}}    