<div class="fulldiv"> 
 <div class="homeTittle">
                 <div class="homeImage"></div>
                 <LinkTo @route="index" class="image3"></LinkTo>
                 <div class="image4"></div>
                 <div class="image5"></div>
 </div>
<div class="writebox">
  <div class="newpostTitle">Tittle</div>
  <Textarea class="textArea" @value={{value1}} placeholder="Enter a post Tittle"></Textarea>
<div class="newpostTitle">Subject</div>
 <Textarea class="textArea" @value={{value2}} placeholder="Enter a post Subject"></Textarea>
<div class="newpostTitle">Story</div> 
<Textarea class="textAreaStory" @value={{value3}} placeholder="Enter a post Story"></Textarea>
               <Input type="file" class="textImage"/>         
</div>
         <div class="dbutton" onclick={{action "valuepass"  }}>Done</div>
          <LinkTo @route="homepage" class="backbutton4" >back</LinkTo>
</div> {{log 'post call' model}}